div.address-container {
  min-height: 150px;
}

div.address-container p {
  margin: 0;
}

div.address-container h3 {
  margin-top: 7px;
}

div.button-bar {
  margin: 10px 0;
}

@media screen and (max-width:768px) {

}
