<div class="page-header">
  <h1>Contacts <span class="badge">{{list.addressList.length}}</span></h1>
</div>
<div>
  <div class="button-bar row">
    <button class="btn btn-default btn-primary btn-lg col-md-1 col-xs-12" ng-click="list.newAddress()">New</button>
  </div>
  <div>
    <div class="alert alert-success" ng-show="list.messagingService.message">
      {{list.messagingService.message}}
    </div>
    <div class="alert alert-danger" ng-show="list.messagingService.error">
      {{list.messagingService.error}}
    </div>
  </div>
  <div class="row">
    <div ng-repeat="item in list.addressList track by item._id">
      <div class="col-md-6 col-sm-12">
        <div class="panel panel-default address-container">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-9 col-xs-6">
                <h3 class="panel-title centering">{{item.firstName + ' ' + item.lastName}}</h3>
              </div>
              <div class="col-md-3 col-xs-6 text-right">
                <div class="btn-group list-action-btn-group">
                  <a href="/edit/{{item._id}}" class="btn btn-default btn-primary glyphicon glyphicon-pencil"></a>
                  <button class="btn btn-default btn-danger glyphicon glyphicon-trash" ng-click="list.deleteAddress(item)"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <p>{{item.addressLineOne}}</p>
            <p>{{item.addressLineTwo}}</p>
            <p>{{item.city + ' ' + item.state + ', ' + item.zip}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
